*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    
    background-color: rgb(108, 106, 106);
}

.header{
    background-color: #fff;
    height: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 ;
    box-shadow: 0 .5rem rgba(93, 92, 92, 0.3);;
}

.header .logo{

}

.header .search{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .search .search-input{
    width: 90%;
    margin-right: -3rem;
    padding: .7rem 2rem;
    border-radius: 100px;
    border: none;
    background-color: #d7d1d1;
    color: #000;
}

.header .search .search-input:focus{
    outline: none;
}

.header .search .search-button{
    background-color: transparent;
    border: none;
}

.header .search .search-button:active{
    transform: translateY(.5rem);
}

.user-nav{
    display: flex;
}